*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider{
    width: 100px;
    height: 600px;
    overflow: hidden;
}

.slider ul{
    display: flex;
    animation: cambio 10s infinite alternate linear;
    width: 400px;
}

.slider li{
    width: 100px;
    list-style: none;

}
.slider img{
    width: 100px;
    height: 100px;
}

@keyframes cambio{
    0%{margin-left:0;}
    50%{margin-left:0;}

    50%{margin-left:-100;}
    100%{margin-left:-100;}


}
